<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <!--
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!- -
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    - ->
    <uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!- - Must match `com.swooby.alfredai.MobileForegroundService.FOREGROUND_SERVICE_PERMISSION`- ->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    -->

    <!--
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true"
        />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"
        />
        -->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <!--
        android:theme="@style/FooTheme"
        -->

        <!--
        <activity
            android:name="com.smartfoo.android.core.app.FooDebugActivity"
            android:label="@string/activity_debug_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />
        </activity>
        -->

        <!--
        <receiver
            android:name="com.smartfoo.android.core.notification.FooNotificationReceiver"
            android:exported="false"
            />

        <service
            android:name="com.smartfoo.android.core.notification.FooNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            >
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Notification Parsing Voice Assistant Session"
                />
        </service>

        <service
            android:name="com.smartfoo.android.core.notification.FooNotificationListenerManager$FooNotificationListener"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
                <action android:name="com.smartfoo.android.core.notification.FooNotificationListener.ACTION_BIND_REMOTE_CONTROLLER"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.smartfoo.android.core.platform.FooBootListener$FooLockedBootCompletedBroadcastReceiver"
            android:directBootAware="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        -->

    </application>

</manifest>
