<manifest
    package="com.smartfoo.android.core"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true"
        />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"
        />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!--
        <activity
            android:name="com.smartfoo.android.core.app.FooDebugActivity"
            android:label="@string/activity_debug_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />
        </activity>
        -->

        <receiver
            android:name="com.smartfoo.android.core.notification.FooNotificationReceiver"
            android:exported="false"
            tools:node="remove"
            />

        <service
            android:name="com.smartfoo.android.core.notification.FooNotificationService"
            android:enabled="true"
            android:exported="false"
            tools:node="remove"
            />

        <service
            android:name="com.smartfoo.android.core.notification.FooNotificationListenerManager$FooNotificationListener"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            tools:node="remove"
            >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
                <action android:name="com.smartfoo.android.core.notification.FooNotificationListener.ACTION_BIND_REMOTE_CONTROLLER"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.smartfoo.android.core.platform.FooBootListener$FooLockedBootCompletedBroadcastReceiver"
            android:directBootAware="true"
            tools:node="remove"
            >
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
